body {
  background-color: #aeae55 !important;
}

.navbar-header {
  margin-right: 100px !important;
  color: #c6c633 !important;
}

div.navbar-brand {
  color: #c6c633 !important;
}

.navbar-nav .active {
	color: #fff !important;
	outline: none !important;
	font-weight: bold;
}

